# Prueba de snowpark

In [1]:
from datatools.snowflake import make_conn, get_params

In [2]:
connection_parameters = get_params()
connection_parameters.keys()

	get from local [.env] file.

dict_keys(['account', 'user', 'password', 'role', 'warehouse', 'host'])

In [3]:
from snowflake.snowpark import Session

In [4]:
## crea conexion
session = Session.builder.configs(connection_parameters).create()

In [5]:
df_sql = session.sql("select * from VP_INFORMACION.REF.DIVIPOLA")
df_sql.show()

---------------------------------------------------------------------
|"DEPARTAMENTO_COD"  |"DEPARTAMENTO"  |"DIVIPOLA"  |"MUNICIPIO"     |
---------------------------------------------------------------------
|11                  |Bogotá, D.C.    |11001       |Bogotá, D.C.    |
|15                  |Boyacá          |15226       |Cuítiva         |
|15                  |Boyacá          |15518       |Pajarito        |
|25                  |Cundinamarca    |25394       |La Palma        |
|47                  |Magdalena       |47605       |Remolino        |
|52                  |Nariño          |52385       |La Llanada      |
|73                  |Tolima          |73483       |Natagaima       |
|73                  |Tolima          |73624       |Rovira          |
|05                  |Antioquia       |05756       |Sonsón          |
|13                  |Bolívar         |13673       |Santa Catalina  |
---------------------------------------------------------------------

In [6]:
df_sql = session.sql("select count(*) from VP_INFORMACION.NT.MICRO")
df_sql.show()

--------------
|"COUNT(*)"  |
--------------
|216210362   |
--------------

In [9]:
df_sql = session.sql("select coalesce(DEPARTAMENTO_AFILIADO,DEPARTAMENTO_IPS) as DPTO, count(*) from VP_INFORMACION.NT.MICRO where year(FECHA_INGRESO)=2022 group by 1 order by 1")
df_sql.count()

30

In [10]:
df = df_sql.to_pandas()

In [11]:
df

                  DPTO  COUNT(*)
0             AMAZONAS         6
1            ANTIOQUIA   6583661
2               ARAUCA    471094
3            ATLÁNTICO   8246381
4         BOGOTÁ, D.C.    285283
5              BOLÍVAR   7972048
6               BOYACÁ   1571561
7               CALDAS     18195
8              CAQUETÁ         7
9             CASANARE     17486
10               CAUCA     63034
11               CESAR   2314497
12               CHOCÓ     62919
13        CUNDINAMARCA    561117
14             CÓRDOBA   2517215
15             GUAINÍA    293183
16               HUILA      4977
17          LA GUAJIRA     30379
18           MAGDALENA   5737892
19                META     38615
20              NARIÑO       142
21  NORTE DE SANTANDER   5889388
22            PUTUMAYO        35
23             QUINDÍO       193
24           RISARALDA    175845
25           SANTANDER   6688960
26               SUCRE   2308573
27              TOLIMA     10764
28     VALLE DEL CAUCA   8252546
29             VICHADA         4

In [12]:
## cierra conexion
session.close()