# EDA Titanic

dataset: https://www.kaggle.com/c/titanic

| Variable | Definicion | Keys |
| --- | --- | --- |
| Survival | Survival | 0 = No, 1 = Yes |
| Pclass | Ticket class | 1 = 1st, 2 = 2nd, 3 = 3rd |
| Sex | Sex | - |
| Age | Age in years | - |
| SibSp | # of siblings / spouses aboard the Titanic | - |
| Parch | # of parents / children aboard the Titanic | - |
| Ticket | Ticket number | - |
| Fare | Passenger fare | - |
| Cabin | Cabin number | - |
| Embarked | Port of Embarkation | C = Cherbourg, Q = Queenstown, S = Southampton |

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv(
            r"..\_datasets\titanic.csv.gz"
            , sep=","
            , dtype=str     ## avoid any mistake for EDA
        )

In [ ]:
data

In [ ]:
# describe the dataset
data.describe(include='all').T

In [ ]:
# make numeric columns numbers
cols_num = ["Survived","Pclass","Age","Parch","Fare"]
data[cols_num] = data[cols_num].apply(pd.to_numeric)

In [ ]:
data.describe().T

In [ ]:
# Nulls
data.isnull().sum()

In [ ]:
data.groupby("Survived",dropna=False).agg(
        mean_age=("Age","mean")
        , p50_age=("Age",lambda x: x.quantile(0.5))
    )

In [ ]:
data.groupby(
            ["Survived","Sex"]
            ,dropna=False).agg(
                    mean_age=("Age","mean")
                    , p50_age=("Age",lambda x: x.quantile(0.5))
                )

# Visual exploration

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.pairplot(data, height=1.5)
plt.show()

In [ ]:
sns.pairplot(data, height=1.5, hue="Survived");
plt.show()

Plot when NULLS

In [ ]:
cols_with_nulls = list(data.isnull().sum()[data.isnull().sum()>0].index)
cols_with_nulls

In [ ]:
for c in cols_with_nulls:
    sns.pairplot(data[data[c].isnull()], height=1.5, hue="Survived");
    plt.suptitle(f"Pairplot of data when [{c}] is nulls", y=1.08)
    plt.show()

In [ ]:
sns.histplot(data,x="Age")
plt.plot()